# See http://help.github.com/ignore-files/ for more about ignoring files.

bin
obj
obj/*
bin/*
.vs/
*.cache
*.dll
*.exe
*.pdb
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
*.opensdf
*.tlog
*.log
/TestResults/c76f461e-8e6f-46bb-904a-b1f7ae6b1613
